.main-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.add-user-container{
    display: flex;
    justify-content: left;
    align-items: center;

}
.edit-user-container{

    display: flex;
    justify-content: right;
    align-items: center;

}

.register-card{
    justify-content: space-between;
}

.align-button{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

:host ::ng-deep .mat-grid-tile {
    background: lightblue;
  }